// Standalone default theme
// version: 2016-07
@theme-background: #001a22;
@theme-white: #ffffff;
@theme-highlight-1: #e8373f;
@theme-highlight-2: #fab110;
@theme-highlight-3: #279f99;

@theme-font-family: 'Source Sans Pro', sans-serif;
@theme-font-weight-bold: 600;
@theme-font-weight-semi-bold: 400;
@theme-font-weight-regular: 300;
@theme-font-color: @theme-white;
@theme-font-color-inverted: @theme-background;

@theme-link-color: darken(@theme-font-color, 10%);
@theme-link-color-hover: darken(@theme-font-color, 20%);
@theme-link-weight: @theme-font-weight-semi-bold;

@theme-font-size-base: 62.5%; // aka 10px
@theme-font-size-base-lowres: 50%; // aka 10px
@theme-font-size-title: 1.9rem;
@theme-font-size-content: 1.7rem;
@theme-font-size-button: 1.7rem;

@theme-animation-duration: 0.3s;
@theme-animation-function: ease-out;
@theme-animation-default: @theme-animation-duration all @theme-animation-function;
