@import "common/theme";
@import "components/ui-button";

.button {
  .ui-button(75%, 40px, "1px solid #fff");
  min-width: 208px;
  padding: 0 10px 0 40px;
  margin: 15px auto;
  background-color: @theme-highlight-2;
  font-weight: @theme-font-weight-bold;
  transition: @theme-animation-default;
}

#uploadform {
  margin: 5rem 0;
}

#result {
  margin-top: 5rem;
}

table {
  border: 1px solid #fff;
  width: 100%;
}

td, th {
  padding: 1rem;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  cursor: pointer;

  &.selected {
    background-color: lighten(@theme-background, 5%);
  }

  &.desc {
    &:after {
      content: ' ↓';
    }
  }
}

thead {
  tr {
    background-color: darken(@theme-background, 10%);
  }
}

tbody {
  tr {
    background-color: lighten(@theme-background, 5%);
  }
  tr:hover {
    background-color: lighten(@theme-background, 10%);
  }
}
