// Stuff that sets the tone for all common elements
@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: @theme-font-size-base;

  // If very little screen estate, make font smaller all around
  @media screen and (max-width: 319px) {
    font-size: @theme-font-size-base-lowres;
  }
}

body {
  font-family: @theme-font-family;
  font-weight: @theme-font-weight-regular;
  font-size: @theme-font-size-content;
  color: @theme-font-color;
  background: @theme-background;
}

h1 {
  font-weight: @theme-font-weight-bold;
  font-size: @theme-font-size-title;
}

a {
  font-weight: @theme-link-weight;
  color: @theme-link-color;
  text-decoration: none;

  &:hover {
    color: @theme-link-color-hover;
  }
}

strong {
  font-weight: @theme-font-weight-semi-bold;
}

.error {
  color: @theme-highlight-1;
}

.text-center {
  text-align: center;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-content: center;
  padding: 3rem 2rem;
}

.ng-cloak {
  display: none !important;
}
