// Styles for the bootscreen ("splash") that is displayed when user lands
#boot {
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: @theme-background;
  opacity: 1;
  transition: all ease-in 1s;

  &.ng-hide {
    opacity: 0;
  }

  .noscript h1 {
    font-size: @theme-font-size-title;
    font-weight: @theme-font-weight-regular;
    padding: 1rem 2rem;
    text-align: center;
  }
}


.no-js #boot {
  // Hide loading text when JS is disabled
  p {
    display: none;
   }
}
