@import "common/theme";

.ui-button(@w, @h, @border) {
  display: block;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  white-space: nowrap;
  width: @w;
  height: @h;
  line-height: @h;
  border: @border;
  font-weight: @theme-font-weight-semi-bold;
  font-size: @theme-font-size-button;
}
