<!DOCTYPE html>
<!--[if IE]> <html lang="en" class="ie no-js" data-ng-app="mwcApp" ng-strict-di> <![endif]-->
<!--[if !IE]> -->
<html lang="en" data-ng-app="mwcApp" class="no-js" ng-strict-di>
<!-- <![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>Monthly Wage Calculator</title>
  <meta name="description" content="Monthly Wage Calculator">
  <meta name="author" content="Mikko Seppänen">

  <!-- theme coloring for various mobile devices -->
  <meta name="theme-color" content="#1A7BFF">
  <meta name="msapplication-navbutton-color" content="#1A7BFF">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1A7BFF">

  <!-- Social media tags  -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Monthly Wage Calculator" />
  <meta property="og:description" content="App for calculating monthly wages" />
  <meta property="og:url" content="http://{{.Hostname}}" />
  <meta property="og:site_name" content="Monthly Wage Calculator" />
  <meta property="og:image" content="http://{{.Hostname}}/static/images/favicons/windows-tile-310x310.png"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:description" content="App for calculating monthly wages"/>
  <meta name="twitter:title" content="Monthly Wage Calculator"/>
  <meta name="twitter:site" content="@nibbles1983"/>
  <meta name="twitter:image" content="http://{{.Hostname}}/static/images/favicons/windows-tile-310x310.png"/>
  <!-- favicons -->
  <link rel="icon" type="image/png" sizes="64x64" href="/static/images/favicons/favicon.png">
  <meta name="application-name" content="Monthly Wage Calculator" />
  <meta name="msapplication-square70x70logo" content="/static/images/favicons/windows-tile-70x70.png">
  <meta name="msapplication-square150x150logo" content="/static/images/favicons/windows-tile-150x150.png">
  <meta name="msapplication-square310x310logo" content="/static/images/favicons/windows-tile-310x310.png">
  <meta name="msapplication-TileImage" content="/static/images/favicons/windows-tile-144x144.png">
  <meta name="msapplication-TileColor" content="#1A7BFF" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/images/favicons/apple-touch-icon-152x152-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/images/favicons/apple-touch-icon-120x120-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/images/favicons/apple-touch-icon-76x76-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static/images/favicons/apple-touch-icon-60x60-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/favicons/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/favicons/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/favicons/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-touch-icon.png">

  <!-- inline styles -->
  <style>
  {{ template "inline.min.css" }}
  </style>

  <!-- rest -->
  <link rel="stylesheet" href="/static/css/index.min.css?v=1.0">
</head>

<body ng-controller="IndexCtrl as index" ng-init="index.init()">
  <div id="container">
    <div id="boot" ng-hide="index.loaded">
      <noscript>
        <h1>Javascript needs to be enabled to view this site.</h1>
      </noscript>
    </div>

    <div id="content" ng-show="index.loaded" class="ng-cloak">
      <div class="text-center">
        <h1>Hi!</h1>
        <p>Start by uploading a CSV for processing. Click the button below to begin.</p>
        <p>You can get a new report by uploading another file.</p>
        <p>Results can be sorted by clicking column headers.</p>
      </div>

      <form id="uploadform" name="upload">
        <div class="button" ng-model="file" name="csv" ngf-select="index.upload($file)">Select CSV for processing</div>
      </form>

      <div id="result" ng-show="index.report">
        <h1>Monthly Wages {$ index.report.date $}</h1>
        <table>
          <thead>
            <tr>
              <th ng-click="index.sort('employeeName')" ng-class="index.sortIs('employeeName')">Name</th>
              <th ng-click="index.sort('employeeID')" ng-class="index.sortIs('employeeID')">Employee ID</th>
              <th ng-click="index.sort('wage')" ng-class="index.sortIs('wage')">Wage</th>
              <th ng-click="index.sort('hoursTotal')" ng-class="index.sortIs('hoursTotal')">Total hours</th>
              <th ng-click="index.sort('hoursEvening')" ng-class="index.sortIs('hoursEvening')">Evening hours</th>
              <th ng-click="index.sort('hoursOvertime')" ng-class="index.sortIs('hoursOvertime')">Overtime hours</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in index.report.rows|orderBy:index.reportSortBy">
              <td>{$ row.employeeName $}</td>
              <td>{$ row.employeeID $}</td>
              <td>{$ row.wage|currency $}</td>
              <td>{$ row.hoursTotal $}</td>
              <td>{$ row.hoursEvening $}</td>
              <td>{$ row.hoursOvertime $}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="resultError" ng-show="index.reportError">
        <p class="error text-center">Whoops. Something went wrong while processing your data: <cite>{$ index.reportError $}</cite></p>
      </div>
    </div>
  </div>

  <script src="/static/js/vendor.js?v=1.0"></script>
  <script src="/static/js/app.min.js?v=1.0"></script>
</body>
</html>
